/* General styles */

.text-center {
  text-align: center;
}

.wrapper {
  max-width: 400px;
  margin: 0 auto;
}

.buttons-wrapper {
  display: flex;
  justify-content: center;
}

.button-margins {
  margin: 0.5rem 0;
}

.link {
  text-decoration: none;
}

/* PaperRefined */

.paper {
  margin: 0px;
  padding: 20px;
}

/* <-- AppBar --> */

.appbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  background: #808080;
  padding: 6px 18px;
}

.logo {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0;
}

.brand, .brand-follower {
  font-size: 1.5rem;
  color: white;
  padding: 6px;
}

.brand-follower {
  display: none;
}

@media screen and (min-width: 430px) {
  .brand-follower {
    display: inline-block;
  }
}

/* BottomNavigation */

.fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid lightgray;
}

.medium-icon {
  color: white;
  width: 24;
  height: 24;
}

.medium {
  width: 36;
  height: 48;
}

/* <-- CreateEvent --> */

.event-title {
  display: inline-block;
  margin: 0;
}

.add-event-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (min-width: 430px) {
  .add-event-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* <-- Dashboard --> */

.event-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

/* <-- Auth --> */

.auth-label {
  cursor: pointer;
  display: block;
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 0.5rem;
}
