/* General styles */

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.link {
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  min-width: 280px;
  margin: 10px;
  width: calc(50% - 30px);
}

.event-add-button-wrapper {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.display-inline {
  display: inline;
}

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.align-center {
  align-self: center;
}

.align-flex-start {
  align-self: flex-start;
}

.align-flex-end {
  align-self: flex-end;
}

.map-margins {
  margin: 10px;
}

.no-margins {
  margin: 0;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.mb-05 {
  margin-bottom: 0.5rem;
}

.mt-05 {
  margin-top: 0.5rem;
}

.mx-05 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/* Dialog */

.dialog {
  display: none;
  opacity: 0;
  z-index: 10000;
}

.active {
  display: flex;
  opacity: 1;
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1
  }
}

.hide {
  opacity: 0;
  animation: fadeOut 0.2s ease-in-out;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0
  }
}

.dialog-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog-wrapper {
  display: flex;
  flex-flow: column;
  min-width: 300px;
  padding: 1rem;
  margin: auto;
  border-radius: 0.25rem;
  background-color: #fff;
}

.close-button {
  cursor: pointer;
}

/* PaperRefined */

.paper {
  margin: 0px;
  padding: 20px;
}

.card {
  margin: 10px;
  padding: 20px;
}

/* <-- AppBar --> */

.appbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  background: #808080;
  padding: 6px 18px;
  z-index: 1;
}

.logo {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0;
}

.brand, .brand-follower {
  font-size: 1.5rem;
  color: white !important;
  padding: 6px;
}

.active > .brand, .active > .brand-follower {
  color: white !important;
}

.brand-follower {
  display: none;
}

@media screen and (min-width: 430px) {
  .brand-follower {
    display: inline-block;
  }
}

/* <-- BottomNavigation --> */

.bottom-nav {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #606060
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid lightgray;
  z-index: 10000;
}

.active * {
  fill: rgba(0, 151, 167, 0.75) !important;
  color: #0097A7 !important;
}

/* <-- CreateEvent --> */

.event-location {
  display: flex;
  flex-shrink: 1;
  min-height: 1rem;
}

.section-title {
  color: #606060;
}

.text-colorized {
  color: #0097A7;
}

.event-title {
  margin: 0;
}

.add-event-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}

@media screen and (min-width: 430px) {
  .add-event-wrapper {
    justify-content: space-between;
  }
}

/* <-- Dashboard --> */

.dashboard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

div[id^="map-"] {
  width: 100%;
  height: 250px;
}

.single-event-wrapper {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  width: 300px;
}

@media screen and (min-width: 420px) {
  .single-event-wrapper {
    width: 400px;
  }
}

/* <-- Auth --> */

.logo-big {
  width: 5rem;
  height: 5rem;
  margin-left: 0;
}

.auth-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex-grow: 1;
  max-width: 500px;
  min-width: 300px;
  margin: 10px;
}

.auth-label {
  cursor: pointer;
  display: block;
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

/* Tooltip text */

.help-icon {
  color: #808080;
  position: relative;
  display: inline-block;
}

.help-icon .tooltip {
  /*  Tooltip field style */
  width: 110px;
  background-color: #808080;
  color: #fff;
  font-size: 0.9rem;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  /* Tooltip Position */
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */

.help-icon .tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #808080 transparent transparent transparent;
}

.help-icon:hover .tooltip {
  opacity: 1;
}