body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  margin-top: 60px;
  margin-bottom: 56px;
}

#root, #app {
  height: 100%;
}

#state {
  width: 200px;
  float: left;
}

#map {
  height: 300px;
  width: 100%;
}